# Pyspark

In [1]:
# lambda function
f = lambda x : x*x
print(f)

<function <lambda> at 0x7f9472799310>

In [2]:
p = f(10)
print(p)

100

In [3]:
#Note: We can provide multiple arguments but only one expression
f = lambda x,y : x*y
print(f)

<function <lambda> at 0x7f9472799280>

In [4]:
p = f(10,20)
print(p)

200

In [5]:
#Mostly lambda function used in other functions like filter ,map
#filter(): for filering data
#1.lambda function   and 2.Iterable type like list 
x=[10,20,30,40,50]
#Task: Filter only those whose value >20

In [6]:
res = list(filter(lambda y: y>20, x))
print(res)

[30, 40, 50]

In [7]:
#map(): for each element Transformation
x=[10,20,30,40,50]
#map also takes 2 arguments like 1)lambda function 2)Iterable type like list
#Task : Add 5 to each element of the list
res = list(map(lambda y: y+5 , x))
print(res)

[15, 25, 35, 45, 55]

In [8]:
emps=[("james",30000),("blake",40000),("rahul",50000)]
#Task: adding 5000 as bonus to each emp salary
res = list(map(lambda y : y[1]+5000, emps))
print(res)

[35000, 45000, 55000]

In [9]:
#Task:2 Transform each empname to start with uppercase
res2 = list(map(lambda x: x[0].capitalize(), emps))
print(res2)

['James', 'Blake', 'Rahul']

In [10]:
#Task :Filter those emps whose sal>30000
res3 = list(filter(lambda x : x[1]>30000, emps))
print(res3)

[('blake', 40000), ('rahul', 50000)]

# Spark context

In [11]:
from pyspark import SparkContext
sc =SparkContext()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/03 23:18:26 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [12]:
r1=sc.parallelize([10,20,30,40,50])
r2=r1.map(lambda x:x*x)    #here x indicates each element , which is int type
r2.collect()

[100, 400, 900, 1600, 2500]

In [13]:
type(r2)

pyspark.rdd.PipelinedRDD

In [14]:
x=[10,20,30,40,50]
rdd1=sc.parallelize(x)
rdd1.collect()

[10, 20, 30, 40, 50]

In [15]:
type(rdd1)

pyspark.rdd.RDD

In [16]:
r1=sc.parallelize([10,20,30,40,50])
r2=r1.map(lambda x:x*x)    #here x indicates each element , which is int type
print(r2.collect())
type(r2)

[100, 400, 900, 1600, 2500]

pyspark.rdd.PipelinedRDD

In [17]:
r2=r1.map(lambda x:x+5)
r2.collect()

[15, 25, 35, 45, 55]

# 1.map() :For each element Transformation

Applying operation to each element of a RDD and returns a RDD

In [18]:
r1=sc.parallelize([10,20,30,40,50])
r2=r1.map(lambda x:x*x)    #here x indicates each element , which is int type
r2.collect()

[100, 400, 900, 1600, 2500]

In [19]:
 # adding 5 to each element of a RDD
r2=r1.map(lambda x:x+5)
r2.collect()

[15, 25, 35, 45, 55]

In [20]:
#2.flatMap(): flattens the elements 
x=[[10,20,30],[40,50,60]]
x

[[10, 20, 30], [40, 50, 60]]

In [21]:
y=sc.parallelize(x)
z=y.flatMap(lambda x:x)
z.collect()

[10, 20, 30, 40, 50, 60]

In [22]:
# example 2
x=[[1,2,3],[4,5,6],[7,8,9],[4,5,6]]
rdd1=sc.parallelize(x)
rdd2=rdd1.flatMap(lambda x:x)
rdd2.collect()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 4, 5, 6]

In [23]:
# 3.filter :Filters elements of a RDD based on condition and resultant also is a RDD
sals=[10000,20000,30000,40000,50000,60000]
rdd1=sc.parallelize(sals)
rdd2=rdd1.filter(lambda x:x>=30000)
res=rdd2.collect()
print(res)

[30000, 40000, 50000, 60000]

In [24]:
#ex:2
a=["Python","Java","Devops","spark","Scala"]
rdd1=sc.parallelize(a)
rdd2=rdd1.filter(lambda x:x!="Java")
res=rdd2.collect()
print(res)

['Python', 'Devops', 'spark', 'Scala']

In [25]:
#4)union(): combines elements of multiple RDDs
#by default it performs union all  operation(allows duplicates)
r1=sc.parallelize([10,20,30,40,50])
r2=sc.parallelize([10,20,30,60,70])
res=r1.union(r2)
res2=res.collect()
print(res2)

[10, 20, 30, 40, 50, 10, 20, 30, 60, 70]

In [26]:
r1=sc.parallelize([[101,'Miller',10000],[102,'Blake',20000]])
r2=sc.parallelize([[101,'Miller',10000],[103,'James',30000]])
r3=r1.union(r2)
res=r3.collect()
print(res)

[[101, 'Miller', 10000], [102, 'Blake', 20000], [101, 'Miller', 10000], [103, 'James', 30000]]

In [27]:
r1.count()

2

In [28]:
r2.count()

2

In [29]:
r3.count()

4

In [30]:
r3.take(2)

[[101, 'Miller', 10000], [102, 'Blake', 20000]]

In [31]:
r3.take(3)

[[101, 'Miller', 10000], [102, 'Blake', 20000], [101, 'Miller', 10000]]

In [32]:
#5.intersection :return only the common elements
r1=sc.parallelize([10,20,30,40,50])
r2=sc.parallelize([10,20,30,60,70])
r3=r1.intersection(r2)
r3.collect()

[10, 20, 30]

In [33]:
#6.subtract():
res3=r1.subtract(r2)
res3.collect()

[40, 50]

In [34]:
re4=r2.subtract(r1)
re4.collect()

[60, 70]

In [35]:
#7.cartesian() : Each element of left side will merge with each element of right side
dnos=sc.parallelize([11,12,13])
sals=sc.parallelize([10000,20000,30000])
res=dnos.cartesian(sals)
res2=res.collect()
print(res2)

[(11, 10000), (11, 20000), (11, 30000), (12, 10000), (12, 20000), (12, 30000), (13, 10000), (13, 20000), (13, 30000)]

In [36]:
#8.distinct() :Removes the duplicates
r1=sc.parallelize([10,20,30,40,10,20,30])
res=r1.distinct()
res2=res.collect()
print(res2)

[20, 40, 10, 30]

Transformations on a pair RDDs i.e (k,v) pairs

1.reduceByKey()
2.groupByKey()
3.sortByKey()
4.mapValues()
5.keys()
6.values
7.join()
8.leftOuterJoin()
9.rightOuterJoin()
10.fullOuterJoin()

1.reduceByKey() :sum up all the values with same key
                 reduceByKey can be applied only on (k,v) pair

In [37]:
r1=sc.parallelize([(11,10000),(12,20000),(13,30000),(12,50000),(11,40000),(13,60000),(11,70000)])
res=r1.reduceByKey(lambda x,y:x+y)
res.collect()

[(12, 70000), (13, 90000), (11, 120000)]

In [38]:
r1=sc.parallelize([("Kohli",40),("Rohith",60),("Rahul",20),("Kohli",80),("Rohith",50),("Rahul",70)])
res=r1.reduceByKey(lambda x,y:x+y)
res.collect()

[('Kohli', 120), ('Rohith', 110), ('Rahul', 90)]

In [39]:
#conda install -c cyclus java-jdk

In [40]:
#2.groupByKey():
res2=res.groupByKey().map(lambda x:(x[0],list(x[1])))
res2.collect()

[('Kohli', [120]), ('Rohith', [110]), ('Rahul', [90])]

In [41]:
res3=res2.map(lambda x:(x[0],sum(x[1]),max(x[1]),min(x[1]),len(x[1]),sum(x[1])/len(x[1])))
res3.collect()

[('Kohli', 120, 120, 120, 1, 120.0),
 ('Rohith', 110, 110, 110, 1, 110.0),
 ('Rahul', 90, 90, 90, 1, 90.0)]

In [42]:
#3. sortByKey():
r1=sc.parallelize([(11,10000),(12,20000),(13,30000),(12,50000),(11,40000),(13,60000),(11,70000)])
res=r1.sortByKey()
res.collect()

[(11, 10000),
 (11, 40000),
 (11, 70000),
 (12, 20000),
 (12, 50000),
 (13, 30000),
 (13, 60000)]

In [43]:
#4.mapValues(): Applying a functioanlity to each value,without changing the key
r1=sc.parallelize([(11,10000),(12,20000),(13,30000),(12,50000),(11,40000),(13,60000),(11,70000)])
res=r1.mapValues(lambda x:x+5000)
res.collect()

[(11, 15000),
 (12, 25000),
 (13, 35000),
 (12, 55000),
 (11, 45000),
 (13, 65000),
 (11, 75000)]

In [44]:
#(or) using map()
res2=r1.map(lambda x:(x[0],x[1]+5000))
res2.collect()

[(11, 15000),
 (12, 25000),
 (13, 35000),
 (12, 55000),
 (11, 45000),
 (13, 65000),
 (11, 75000)]

In [45]:
#5.keys():returns the keys of RDD
r1=sc.parallelize([(11,10000),(12,20000),(13,30000),(12,50000),(11,40000),(13,60000),(11,70000)])
res=r1.keys()
res.collect()

[11, 12, 13, 12, 11, 13, 11]

In [46]:
#6.values():returns the values of a RDD
r1=sc.parallelize([(11,10000),(12,20000),(13,30000),(12,50000),(11,40000),(13,60000),(11,70000)])
res=r1.values()
res.collect()

[10000, 20000, 30000, 50000, 40000, 60000, 70000]

In [47]:
#7. join()
r1=sc.parallelize([(10,20),(30,40),(50,60)])
r2=sc.parallelize([(10,20),(30,40),(70,80)])
# inner join------>only matching tuples

ij=r1.join(r2)
ij.collect()

[(10, (20, 20)), (30, (40, 40))]

In [48]:
#Left outer Join: Matchings +unmatched of left side
loj=r1.leftOuterJoin(r2)
loj.collect()

[(10, (20, 20)), (50, (60, None)), (30, (40, 40))]

In [49]:
#Rigt outer Join: Matchings +unmatched of right side
roj=r1.rightOuterJoin(r2)
roj.collect()

[(10, (20, 20)), (30, (40, 40)), (70, (None, 80))]

In [50]:
#Full outer Join: Matchings +unmatched of left side+unmatched of rightside
roj=r1.fullOuterJoin(r2)
foj=r1.fullOuterJoin(r2)
foj.collect()

[(10, (20, 20)), (50, (60, None)), (30, (40, 40)), (70, (None, 80))]

Actions: Whenever action is performed ,the flow executes from it root RDD

 The following are some of the actions:
 1.collect()
 2.count()
 3.countByKey()
 4.countByValue()
 5.take(num)
 6.top(num)
 7.first()
 8.reduce()
 9.sum()
10.max()
11.min()
12.count()
13.saveAsTextFile(path)

In [51]:
#1.collect(): It will collect all partitions data of different slave machines into client machine
x=[10,20,30,40,50]
r1=sc.parallelize(x)
print(type(r1))
r1.collect()

<class 'pyspark.rdd.RDD'>

[10, 20, 30, 40, 50]

In [52]:
# 2.count() :counts the no of elements in a RDD
r1.count()

5

In [53]:
#3.countByValue():counts no of times each value occurs in a RDD--->it returns a dictionary
medals=["IND","AUS","ENG","IND","ENG","AUS","IND"]
r1=sc.parallelize(medals)
print(type(r1))
r1.countByValue()

<class 'pyspark.rdd.RDD'>

defaultdict(int, {'IND': 3, 'AUS': 2, 'ENG': 2})

In [54]:
#4,countByKey() :counts the no of times each key had occured
#  This should be applied only on a paired RDD
pairs=[('LG',10000),('Sony',20000),('Sony',30000),('LG',40000),('LG',50000)]
r1=sc.parallelize(pairs)
print(type(r1))
r1.countByKey()

<class 'pyspark.rdd.RDD'>

defaultdict(int, {'LG': 3, 'Sony': 2})

In [55]:
#5.take(n) :takes first 'n' number of elements of a RDD
emps=["Ajay","Rohit","Amar","James","John"]
r1=sc.parallelize(emps)
print(type(r1))
print(r1.take(2))
print(r1.take(3))

<class 'pyspark.rdd.RDD'>
['Ajay', 'Rohit']
['Ajay', 'Rohit', 'Amar']

In [56]:
#6.top(n) :Takes top 'n' elements from a RDD
sals=[10000,20000,30000,40000,50000]
r1=sc.parallelize(sals)
print(r1.take(2))
print(r1.top(2))

[10000, 20000]
[50000, 40000]

In [57]:
#ex:2
emps=["Ajay","Rohit","Amar","James","John"]
r1=sc.parallelize(emps)
print(r1.take(2))
print(r1.top(2))

['Ajay', 'Rohit']
['Rohit', 'John']

In [58]:
# 7.first():Takes 1st element of a RDD.
r1.first()

'Ajay'

In [59]:
#8.reduce(): Combines or sums the elements of a RDD
x=[10,20,30,40,50]
r1=sc.parallelize(x)
print(type(r1))
r1.reduce(lambda x,y:x+y)

<class 'pyspark.rdd.RDD'>

150

#      reduceByKey                               reduce
1.groups and agggregates                    1.Cummulative aggregation  

2.It is a Transformtion                     2.It is an action

3.Applied only on (k,v) pair                3.not on (k,v) pair

In [60]:
#9.sum() :Finds the sum of RDD eleemnts
x=[10,20,30,40,50]
r1=sc.parallelize(x)
print(type(r1))
r1.reduce(lambda x,y:x+y)

<class 'pyspark.rdd.RDD'>

150

In [61]:
#10. sum() ,max(),min(),count()
print(r1.sum())
print(r1.max())
print(r1.min())
print(r1.count())
print(r1.sum()/r1.count())

150
50
10
5
30.0

In [62]:
#11.saveAsTextFile(path): saving the o/p of a RDD as text File into specified path of HDFS
#r1.saveAsTextFile("rishabh.txt")

In [63]:
#Increasing the no of partitions while parallelizing
x=[10,20,30,40,50,60,70,80]
r1=sc.parallelize(x)
print(type(x))
r1.getNumPartitions()

<class 'list'>

4

In [64]:
#I Want to increase the partitions while parallelizing
r2=sc.parallelize(x,2)
r2.getNumPartitions()

2

In [65]:
# r2.saveAsTextFile('res2')

In [66]:
r2.count()

8

# but i doesnt want 2 partitions,make it into one partition

for making into onepartition, we have coalesce() function ,which is a transformation function

Coalesce(): /it is a transformation to decrease  or combine the partitions of a RDD

In [67]:
r2.getNumPartitions()

2

In [68]:
r3=r2.coalesce(1)
r3.getNumPartitions()

1

In [69]:
r2.getNumPartitions()

2

In [70]:
##can i increase the partitiions using coalesce---??
r4=r2.coalesce(3)
r4.getNumPartitions()

2

#using coalesce, we can only decrease but we cannot increase

# Different ways of creating RDDS

1.whenever we load a hdfsfile/LFSfile using sparkcontext then RDD is created

2.when we perform Transformation on a RDD----->then the resultant is also a RDD

3.If we parallelize a Python object---->Then RDD is created

Increasing te no of partitions:2 ways
1.while loading the file,we need to specify the no of partitions we want
2.while parallelizing,we need to specify the no of partitions we want

In [71]:
r1=sc.textFile("Book1.txt")

In [72]:
r1.getNumPartitions()

2

In [73]:
#To increase the no of partitions then
r1=sc.textFile("Book1.txt",3)
r1.getNumPartitions()

3

In [74]:
x=[10,20,30]
y=sc.parallelize(x)
print(type(x))
y.getNumPartitions()

<class 'list'>

4

In [75]:
y=sc.parallelize(x,3)
y.getNumPartitions()

3

# Loading data and filtering

In [76]:
rdd1=sc.textFile("/Users/rishabhshukla/Desktop/Pyspark_codes/PySpark/Book1.txt")
rdd1.collect()

['101,Miller,40000,m,11,hyd',
 '102,Blake,50000,m,12,pune',
 '103,Sony,60000,f,11,pune',
 '104,Sita,70000,f,12,hyd',
 '105,John,80000,m,13,hyd']

In [77]:
rdd2=rdd1.map(lambda x:x.split(","))
rdd2.collect()

[['101', 'Miller', '40000', 'm', '11', 'hyd'],
 ['102', 'Blake', '50000', 'm', '12', 'pune'],
 ['103', 'Sony', '60000', 'f', '11', 'pune'],
 ['104', 'Sita', '70000', 'f', '12', 'hyd'],
 ['105', 'John', '80000', 'm', '13', 'hyd']]

In [78]:
#Extract only names and salaries
rdd3=rdd2.map(lambda x:(x[1],int(x[2])))
rdd3.collect()

[('Miller', 40000),
 ('Blake', 50000),
 ('Sony', 60000),
 ('Sita', 70000),
 ('John', 80000)]

In [79]:
#Task: Filter those employees whose sal>50000
rdd4=rdd3.filter(lambda x:x[1]>50000)
rdd4.collect()

[('Sony', 60000), ('Sita', 70000), ('John', 80000)]

In [80]:
#ex:2 Getting records of a particular department(11)
rdd2.collect()

[['101', 'Miller', '40000', 'm', '11', 'hyd'],
 ['102', 'Blake', '50000', 'm', '12', 'pune'],
 ['103', 'Sony', '60000', 'f', '11', 'pune'],
 ['104', 'Sita', '70000', 'f', '12', 'hyd'],
 ['105', 'John', '80000', 'm', '13', 'hyd']]

In [81]:
rdd6=rdd2.filter(lambda x:x[4]=='11')
rdd6.collect()

[['101', 'Miller', '40000', 'm', '11', 'hyd'],
 ['103', 'Sony', '60000', 'f', '11', 'pune']]

In [82]:
#To count the no of occurences of each word in a file
lines=["spark is simple","Spark is for processing","spark is distributed"]
print(lines)

['spark is simple', 'Spark is for processing', 'spark is distributed']

In [83]:
lines1=sc.parallelize(lines)
print(type(lines1))
words=lines1.map(lambda x:x.split(" "))
words.collect()

<class 'pyspark.rdd.RDD'>

[['spark', 'is', 'simple'],
 ['Spark', 'is', 'for', 'processing'],
 ['spark', 'is', 'distributed']]

In [84]:
words1=words.flatMap(lambda x:x)
words1.collect()

['spark',
 'is',
 'simple',
 'Spark',
 'is',
 'for',
 'processing',
 'spark',
 'is',
 'distributed']

In [85]:
#To apply reduceByKey,we require (k,v) pair
#add 1 to each word to form a key,value pair
pair=words1.map(lambda word:(word,1))
pair.collect()

[('spark', 1),
 ('is', 1),
 ('simple', 1),
 ('Spark', 1),
 ('is', 1),
 ('for', 1),
 ('processing', 1),
 ('spark', 1),
 ('is', 1),
 ('distributed', 1)]

In [86]:
res=pair.reduceByKey(lambda x,y:x+y)
res.collect()

[('spark', 2),
 ('processing', 1),
 ('is', 3),
 ('simple', 1),
 ('Spark', 1),
 ('for', 1),
 ('distributed', 1)]

# Task :select dno,sum(sal) from emp group by dno

o/p:  11 totsal
      12 totsal
      13 totsal

In [87]:
rdd1=sc.textFile("/Users/rishabhshukla/Desktop/Pyspark_codes/PySpark/Book1.txt")
rdd1.collect()

['101,Miller,40000,m,11,hyd',
 '102,Blake,50000,m,12,pune',
 '103,Sony,60000,f,11,pune',
 '104,Sita,70000,f,12,hyd',
 '105,John,80000,m,13,hyd']

In [88]:
#step 2: splitting each record---->list
rdd2 = rdd1.map(lambda x : x.split(','))
rdd2.collect()

[['101', 'Miller', '40000', 'm', '11', 'hyd'],
 ['102', 'Blake', '50000', 'm', '12', 'pune'],
 ['103', 'Sony', '60000', 'f', '11', 'pune'],
 ['104', 'Sita', '70000', 'f', '12', 'hyd'],
 ['105', 'John', '80000', 'm', '13', 'hyd']]

In [89]:
rdd3=rdd2.map(lambda x:(x[3],int(x[2])))
rdd3.collect()

[('m', 40000), ('m', 50000), ('f', 60000), ('f', 70000), ('m', 80000)]

In [90]:
rdd3=rdd2.map(lambda x:(x[4],int(x[2])))
rdd3.collect()

[('11', 40000), ('12', 50000), ('11', 60000), ('12', 70000), ('13', 80000)]

In [91]:
res=rdd3.reduceByKey(lambda x,y:x+y)
res.collect()

[('12', 120000), ('11', 100000), ('13', 80000)]

# filters:
-------
filtering nulls or blankspaces

In [92]:
line="              Saprk is for processing               "
words=line.split(" ")
print(words)

['', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Saprk', 'is', 'for', 'processing', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [93]:
words1=sc.parallelize(words)
words2=words1.filter(lambda x:x!='')
words2.collect()

['Saprk', 'is', 'for', 'processing']

In [94]:
y=words2.collect()
y

['Saprk', 'is', 'for', 'processing']

In [95]:
z=" ".join(y)
print(z)

Saprk is for processing

In [96]:
# from pyspark.shell import spark

In [97]:
#Same task using functions
# y=eliminatenulls(line)
# y.collect()

In [98]:
str =""
for p in z:
  str=str+p+" "
 
print(str)

S a p r k   i s   f o r   p r o c e s s i n g

Groupings and Aggregations:

1)Single grouping and Single Aggrgation

  dno,sum(sal)
2)Multi Grouping and Single Aggregation

3)single Grouping and multiple Agggregation

4)Multi Grouping amd multiple Aggregation


2)Multi Grouping and Single Aggregation

ex:select dno,sex,sum(sal) from emp group by dno,sex

11
   m---totsal
   f---totsal
12
   m---totsal
   f---totsal
13
   m---totsal
   f---totsal

In [99]:
r1=sc.textFile("/Users/rishabhshukla/Desktop/Pyspark_codes/PySpark/Book1.txt")
def makepair(x):
    words=x.split(",")
    dno=words[4]
    sal=int(words[2])
    return (dno,sal)

In [100]:
r1.collect()

['101,Miller,40000,m,11,hyd',
 '102,Blake,50000,m,12,pune',
 '103,Sony,60000,f,11,pune',
 '104,Sita,70000,f,12,hyd',
 '105,John,80000,m,13,hyd']

In [101]:
# pair=makepair("101,Ajay,70000,m,11")
# pair.collect()

In [102]:
def makepair1(x):
   words=x.split(",")
   dno=int(words[4])
   sex=words[3]
   sal=int(words[2])
   pair=((dno,sex),sal)
   return pair

In [103]:
dnosexsalpair=r1.map(lambda x:makepair1(x))
dnosexsalpair.collect()

[((11, 'm'), 40000),
 ((12, 'm'), 50000),
 ((11, 'f'), 60000),
 ((12, 'f'), 70000),
 ((13, 'm'), 80000)]

In [104]:
sum=dnosexsalpair.reduceByKey(lambda x,y:x+y)
sum.collect()

[((11, 'm'), 40000),
 ((11, 'f'), 60000),
 ((13, 'm'), 80000),
 ((12, 'm'), 50000),
 ((12, 'f'), 70000)]

In [105]:
# Differences b/w reduceByKey() and groupByKey()

#       reduceByKey()                            groupByKey

# 1.Performance is good when applied on    1.Performance is bad when applied on a single aggregation
#   a single aggregation

# 2.Bad when applied on multiple aggregation 2.Performance is good when applied on multiple aggregations

# 3.Less load on aggregations               3.More load on aggregations

# 4.If the no of keys are more then         4.Here no n/w traffic.
#   no of partitions will be more
#   so more n/w traffic.

In [106]:
# Process of groupByKey()
# ex:
sexsalpair=emparr.map(lambda x:(x[3],int(x[2]))
# sexsalpair is a RDD divided into 2 partitions

SyntaxError: unexpected EOF while parsing (452529668.py, line 4)

In [107]:
from pyspark.sql import SQLContext

sqlContext = SQLContext(sc)

/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/sql/context.py:112: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [108]:
#ex:1 Creating DataFrames from lists (local objects)
x=[('Miller',25)]
df= sqlContext.createDataFrame(x)

df.show()

+------+---+
|    _1| _2|
+------+---+
|Miller| 25|
+------+---+

In [109]:
#ex:1 Creating DataFrames from lists (local objects)
x=[('Miller',25)]
rdd = sc.parallelize(x)
df= rdd.toDF()

df.show()

+------+---+
|    _1| _2|
+------+---+
|Miller| 25|
+------+---+

In [110]:
type(df)

pyspark.sql.dataframe.DataFrame

In [111]:
type(df)

pyspark.sql.dataframe.DataFrame

In [112]:
#ex:2 Creating DF with schema
x=[('Miller',25),('Ajay',30),('Blake',45)]
df=sqlContext.createDataFrame(x,['NAME','AGE'])
df.show()

+------+---+
|  NAME|AGE|
+------+---+
|Miller| 25|
|  Ajay| 30|
| Blake| 45|
+------+---+

In [113]:
#ex:2 Creating DF with schema
x=[('Miller',25),('Ajay',30),('Blake',45)]
rdd = sc.parallelize(x)
df=rdd.toDF(['NAME','AGE'])
df.show()

+------+---+
|  NAME|AGE|
+------+---+
|Miller| 25|
|  Ajay| 30|
| Blake| 45|
+------+---+

In [114]:
#3)df.count() :To count the no of rows in a DF

df.count()

3

In [115]:
#4)printSchema():

df.printSchema()

root
 |-- NAME: string (nullable = true)
 |-- AGE: long (nullable = true)

In [116]:
#5) Using Dictionary Providing schema,Creating DF

x=[{'name':'Ajay','age':25},{'name':'Rahul','age':30}]
df=sqlContext.createDataFrame(x)
df.show()

+---+-----+
|age| name|
+---+-----+
| 25| Ajay|
| 30|Rahul|
+---+-----+

In [117]:
#5) Using Dictionary Providing schema,Creating DF

x=[{'name':'Ajay','age':25},{'name':'Rahul','age':30}]
rdd = sc.parallelize(x)
df=rdd.toDF()
df.show()

+---+-----+
|age| name|
+---+-----+
| 25| Ajay|
| 30|Rahul|
+---+-----+

In [118]:
#ex:2

x=[{'name':'Ajay','age':25},{'name':'Rahul','age':30,'city':'Pune'}]
df=sqlContext.createDataFrame(x)
df.show()

+---+-----+----+
|age| name|city|
+---+-----+----+
| 25| Ajay|null|
| 30|Rahul|Pune|
+---+-----+----+

In [119]:
#ex:2

x=[{'name':'Ajay','age':25},{'name':'Rahul','age':30,'city':'Pune'}]
rdd = sc.parallelize(x)
df=rdd.toDF()
df.show()

+---+-----+
|age| name|
+---+-----+
| 25| Ajay|
| 30|Rahul|
+---+-----+

In [120]:
#6) Creating a DF from a RDD

x=[('Miller',25),('Ajay',30),('Blake',45)]
rdd=sc.parallelize(x)
df1=rdd.toDF()
df1.show()

+------+---+
|    _1| _2|
+------+---+
|Miller| 25|
|  Ajay| 30|
| Blake| 45|
+------+---+

In [121]:
#6) Creating a DF from a RDD

x=[('Miller',25),('Ajay',30),('Blake',45)]
rdd=sc.parallelize(x)
df1=sqlContext.createDataFrame(rdd)
df1.show()

+------+---+
|    _1| _2|
+------+---+
|Miller| 25|
|  Ajay| 30|
| Blake| 45|
+------+---+

In [122]:
#Adding schema to a RDD

df2=sqlContext.createDataFrame(rdd,['Name','Age'])
df2.show()

+------+---+
|  Name|Age|
+------+---+
|Miller| 25|
|  Ajay| 30|
| Blake| 45|
+------+---+

In [123]:
#7) Creating a DF using Row object

x=[('Miller',25),('Ajay',30),('Blake',45)]
rdd1=sc.parallelize(x)
#Now providing schema to a RDD
from pyspark.sql import Row
customer=Row('Name','Age')
print(type(customer))
cust=rdd1.map(lambda p:customer(*p))
print(cust.collect())
df3=sqlContext.createDataFrame(cust)
df3.show()

<class 'pyspark.sql.types.Row'>
[Row(Name='Miller', Age=25), Row(Name='Ajay', Age=30), Row(Name='Blake', Age=45)]
+------+---+
|  Name|Age|
+------+---+
|Miller| 25|
|  Ajay| 30|
| Blake| 45|
+------+---+

In [124]:
#8)Providing schema using StructType
from pyspark.sql.types import *
schema=StructType([
StructField("Name",StringType(),True),
StructField("Age",IntegerType(),True)])
df4=sqlContext.createDataFrame(rdd1,schema)
df4.show()

+------+---+
|  Name|Age|
+------+---+
|Miller| 25|
|  Ajay| 30|
| Blake| 45|
+------+---+

In [125]:
#9)changing schema or column names

df5=sqlContext.createDataFrame(rdd1,"Empname:string,EmpAge:int")
df5.show()

+-------+------+
|Empname|EmpAge|
+-------+------+
| Miller|    25|
|   Ajay|    30|
|  Blake|    45|
+-------+------+

In [126]:
#10) 
df5.rdd.getNumPartitions()

4

In [127]:
#11) Creating emp records

from pyspark.sql import Row
x=[(101,'miller',10000,'m',11),(102,'Blake',20000,'m',12),(103,'Sony',30000,'f',13),(104,'Sita',40000,'f',11),(105,'James',50000,'m',12)]
r1=sc.parallelize(x)
df=sqlContext.createDataFrame(r1,['eid','ename','sal','sex','dno'])
print(df.collect())
df.show()

[Row(eid=101, ename='miller', sal=10000, sex='m', dno=11), Row(eid=102, ename='Blake', sal=20000, sex='m', dno=12), Row(eid=103, ename='Sony', sal=30000, sex='f', dno=13), Row(eid=104, ename='Sita', sal=40000, sex='f', dno=11), Row(eid=105, ename='James', sal=50000, sex='m', dno=12)]
+---+------+-----+---+---+
|eid| ename|  sal|sex|dno|
+---+------+-----+---+---+
|101|miller|10000|  m| 11|
|102| Blake|20000|  m| 12|
|103|  Sony|30000|  f| 13|
|104|  Sita|40000|  f| 11|
|105| James|50000|  m| 12|
+---+------+-----+---+---+

In [128]:
#11) Creating emp records

from pyspark.sql import Row
x=[(101,'miller',10000,'m',11),(102,'Blake',20000,'m',12),(103,'Sony',30000,'f',13),(104,'Sita',40000,'f',11),(105,'James',50000,'m',12)]
r1=sc.parallelize(x)
df=r1.toDF(['eid','ename','sal','sex','dno'])
print(df.collect())
df.show()

[Row(eid=101, ename='miller', sal=10000, sex='m', dno=11), Row(eid=102, ename='Blake', sal=20000, sex='m', dno=12), Row(eid=103, ename='Sony', sal=30000, sex='f', dno=13), Row(eid=104, ename='Sita', sal=40000, sex='f', dno=11), Row(eid=105, ename='James', sal=50000, sex='m', dno=12)]
+---+------+-----+---+---+
|eid| ename|  sal|sex|dno|
+---+------+-----+---+---+
|101|miller|10000|  m| 11|
|102| Blake|20000|  m| 12|
|103|  Sony|30000|  f| 13|
|104|  Sita|40000|  f| 11|
|105| James|50000|  m| 12|
+---+------+-----+---+---+

In [129]:
r1=sc.textFile("/Users/rishabhshukla/Desktop/Pyspark_codes/PySpark/Book1.txt")
r1.collect()

['101,Miller,40000,m,11,hyd',
 '102,Blake,50000,m,12,pune',
 '103,Sony,60000,f,11,pune',
 '104,Sita,70000,f,12,hyd',
 '105,John,80000,m,13,hyd']

In [130]:
r1.getNumPartitions()

2

In [131]:
# r1=sc.textFile("/Users/rishabhshukla/Desktop/Pyspark_codes/PySpark/Book1.txt",1)
# r1.collect()

In [132]:
# r1.getNumPartitions()

In [133]:
r2=r1.map(lambda x:x.split(","))
r2.collect()

[['101', 'Miller', '40000', 'm', '11', 'hyd'],
 ['102', 'Blake', '50000', 'm', '12', 'pune'],
 ['103', 'Sony', '60000', 'f', '11', 'pune'],
 ['104', 'Sita', '70000', 'f', '12', 'hyd'],
 ['105', 'John', '80000', 'm', '13', 'hyd']]

In [134]:
#each element to be converted to row type to create an DF
r3=r2.map(lambda x:Row(eid=int(x[0]),ename=x[1],sal=int(x[2]),sex=x[3],dno=int(x[4]),city=x[5]))
df=sqlContext.createDataFrame(r3)
df.show()

+---+------+-----+---+---+----+
|eid| ename|  sal|sex|dno|city|
+---+------+-----+---+---+----+
|101|Miller|40000|  m| 11| hyd|
|102| Blake|50000|  m| 12|pune|
|103|  Sony|60000|  f| 11|pune|
|104|  Sita|70000|  f| 12| hyd|
|105|  John|80000|  m| 13| hyd|
+---+------+-----+---+---+----+

In [135]:
#each element to be converted to row type to create an DF
r3=r2.map(lambda x:Row(eid=int(x[0]),ename=x[1],sal=int(x[2]),sex=x[3],dno=int(x[4]),city=x[5]))
df=r3.toDF()
df.show()

+---+------+-----+---+---+----+
|eid| ename|  sal|sex|dno|city|
+---+------+-----+---+---+----+
|101|Miller|40000|  m| 11| hyd|
|102| Blake|50000|  m| 12|pune|
|103|  Sony|60000|  f| 11|pune|
|104|  Sita|70000|  f| 12| hyd|
|105|  John|80000|  m| 13| hyd|
+---+------+-----+---+---+----+

# Different DataFrame API's:
--------------------------

In [136]:
r1=sc.textFile("/Users/rishabhshukla/Desktop/Pyspark_codes/PySpark/Book1.txt")
r1.collect()

['101,Miller,40000,m,11,hyd',
 '102,Blake,50000,m,12,pune',
 '103,Sony,60000,f,11,pune',
 '104,Sita,70000,f,12,hyd',
 '105,John,80000,m,13,hyd']

In [137]:
r2=r1.map(lambda x:x.split(","))
r2.collect()

[['101', 'Miller', '40000', 'm', '11', 'hyd'],
 ['102', 'Blake', '50000', 'm', '12', 'pune'],
 ['103', 'Sony', '60000', 'f', '11', 'pune'],
 ['104', 'Sita', '70000', 'f', '12', 'hyd'],
 ['105', 'John', '80000', 'm', '13', 'hyd']]

In [138]:
from pyspark.sql import Row
r3=r2.map(lambda x:Row(eid=int(x[0]),ename=x[1],sal=int(x[2]),sex=x[3],dno=int(x[4]),city=x[5]))
r3.collect()

[Row(eid=101, ename='Miller', sal=40000, sex='m', dno=11, city='hyd'),
 Row(eid=102, ename='Blake', sal=50000, sex='m', dno=12, city='pune'),
 Row(eid=103, ename='Sony', sal=60000, sex='f', dno=11, city='pune'),
 Row(eid=104, ename='Sita', sal=70000, sex='f', dno=12, city='hyd'),
 Row(eid=105, ename='John', sal=80000, sex='m', dno=13, city='hyd')]

In [139]:
df=sqlContext.createDataFrame(r3)
df.show()

+---+------+-----+---+---+----+
|eid| ename|  sal|sex|dno|city|
+---+------+-----+---+---+----+
|101|Miller|40000|  m| 11| hyd|
|102| Blake|50000|  m| 12|pune|
|103|  Sony|60000|  f| 11|pune|
|104|  Sita|70000|  f| 12| hyd|
|105|  John|80000|  m| 13| hyd|
+---+------+-----+---+---+----+

In [140]:
#Different API's of DF

#1)select() :to select (or) extract a particular column

e1=df.select("ename")
e1.show()

+------+
| ename|
+------+
|Miller|
| Blake|
|  Sony|
|  Sita|
|  John|
+------+

Transformation on a DF---->returns a DF
here df---->has 6 fields
e1 is a dataframe--->with one field

previously to extract a particular field from a RDD or to create a (k,v)paired RDD->using index
which is complex

In [141]:
#To extract multiple columns
df.select("ename","sal").show()

+------+-----+
| ename|  sal|
+------+-----+
|Miller|40000|
| Blake|50000|
|  Sony|60000|
|  Sita|70000|
|  John|80000|
+------+-----+

In [142]:
#Transformations
#   Adding 3000 to each employee salary
# df2=df.select("ename","sal"+"3000")
# here we get error bcoz--->whenever we perform arithmetic operations or with expressions,
# we need to use the dataframe seperately to each column

In [143]:
df2=df.select(df.ename,df.sal+3000)
df2.show()

+------+------------+
| ename|(sal + 3000)|
+------+------------+
|Miller|       43000|
| Blake|       53000|
|  Sony|       63000|
|  Sita|       73000|
|  John|       83000|
+------+------------+

In [144]:
# selectExpr():
df.selectExpr("ename","sal+3000").show()

+------+------------+
| ename|(sal + 3000)|
+------+------------+
|Miller|       43000|
| Blake|       53000|
|  Sony|       63000|
|  Sita|       73000|
|  John|       83000|
+------+------------+

In [145]:
# filter():

# Filter only those emps whose sal>60000

df3=df.filter(df.sal>60000)
df3.show()

+---+-----+-----+---+---+----+
|eid|ename|  sal|sex|dno|city|
+---+-----+-----+---+---+----+
|104| Sita|70000|  f| 12| hyd|
|105| John|80000|  m| 13| hyd|
+---+-----+-----+---+---+----+

In [146]:
df3=df.filter(df.sal>60000).select("ename","sal")
df3.show()

+-----+-----+
|ename|  sal|
+-----+-----+
| Sita|70000|
| John|80000|
+-----+-----+

In [147]:
df4=df.filter(df.dno==11).select("ename","sal")
df4.show()

+------+-----+
| ename|  sal|
+------+-----+
|Miller|40000|
|  Sony|60000|
+------+-----+

In [148]:
#6)collect()
df.collect()

[Row(eid=101, ename='Miller', sal=40000, sex='m', dno=11, city='hyd'),
 Row(eid=102, ename='Blake', sal=50000, sex='m', dno=12, city='pune'),
 Row(eid=103, ename='Sony', sal=60000, sex='f', dno=11, city='pune'),
 Row(eid=104, ename='Sita', sal=70000, sex='f', dno=12, city='hyd'),
 Row(eid=105, ename='John', sal=80000, sex='m', dno=13, city='hyd')]

In [149]:
#count(): Returns the no of rows in a DataFrame
df.count()

5

In [150]:
#columns: Return column names as list
df.columns

['eid', 'ename', 'sal', 'sex', 'dno', 'city']

In [151]:
#printSchema():
df.printSchema()

root
 |-- eid: long (nullable = true)
 |-- ename: string (nullable = true)
 |-- sal: long (nullable = true)
 |-- sex: string (nullable = true)
 |-- dno: long (nullable = true)
 |-- city: string (nullable = true)

In [152]:
#describe()
df.describe().show()

+-------+------------------+-----+------------------+----+------------------+----+
|summary|               eid|ename|               sal| sex|               dno|city|
+-------+------------------+-----+------------------+----+------------------+----+
|  count|                 5|    5|                 5|   5|                 5|   5|
|   mean|             103.0| null|           60000.0|null|              11.8|null|
| stddev|1.5811388300841898| null|15811.388300841896|null|0.8366600265340753|null|
|    min|               101|Blake|             40000|   f|                11| hyd|
|    max|               105| Sony|             80000|   m|                13|pune|
+-------+------------------+-----+------------------+----+------------------+----+

In [153]:
# #performs diff aggregations on numerical columns
# distinct(): returns a new DF containing distinct rows

# I want to know the no of deptnos
# i.e I want to know the distinct dnos
df6=df.select("dno")
df6.show()

+---+
|dno|
+---+
| 11|
| 12|
| 11|
| 12|
| 13|
+---+

In [154]:
df6.distinct().show()

+---+
|dno|
+---+
| 12|
| 11|
| 13|
+---+

In [155]:
#(or) 
df.select("dno").distinct().show()

+---+
|dno|
+---+
| 12|
| 11|
| 13|
+---+

In [156]:
#drop() :drops a particular column
df7=df.drop("sex")
df7.show()

+---+------+-----+---+----+
|eid| ename|  sal|dno|city|
+---+------+-----+---+----+
|101|Miller|40000| 11| hyd|
|102| Blake|50000| 12|pune|
|103|  Sony|60000| 11|pune|
|104|  Sita|70000| 12| hyd|
|105|  John|80000| 13| hyd|
+---+------+-----+---+----+

In [157]:
#we can also drop multiple columns at a time
df8=df.drop("sex","dno")
df8.show()

+---+------+-----+----+
|eid| ename|  sal|city|
+---+------+-----+----+
|101|Miller|40000| hyd|
|102| Blake|50000|pune|
|103|  Sony|60000|pune|
|104|  Sita|70000| hyd|
|105|  John|80000| hyd|
+---+------+-----+----+

In [158]:
#dropDuplicates(): drops duplicates based on multiple columns
df9=df.dropDuplicates(["dno","sex"])
#here 11,m is repeated for 3 times

In [159]:
df9.show()

+---+------+-----+---+---+----+
|eid| ename|  sal|sex|dno|city|
+---+------+-----+---+---+----+
|103|  Sony|60000|  f| 11|pune|
|101|Miller|40000|  m| 11| hyd|
|104|  Sita|70000|  f| 12| hyd|
|102| Blake|50000|  m| 12|pune|
|105|  John|80000|  m| 13| hyd|
+---+------+-----+---+---+----+

In [160]:
#first(): reurns the first row in the dataframe
df.first()

Row(eid=101, ename='Miller', sal=40000, sex='m', dno=11, city='hyd')

In [161]:
# foreach() :
# ex: Applying a function foreach row of a df
def display(df):
    print(df.ename)

In [162]:
df.foreach(display)

Sita
John
Miller
Blake
Sony

In [163]:
#sort():
df.sort(df.sal).show()

+---+------+-----+---+---+----+
|eid| ename|  sal|sex|dno|city|
+---+------+-----+---+---+----+
|101|Miller|40000|  m| 11| hyd|
|102| Blake|50000|  m| 12|pune|
|103|  Sony|60000|  f| 11|pune|
|104|  Sita|70000|  f| 12| hyd|
|105|  John|80000|  m| 13| hyd|
+---+------+-----+---+---+----+

In [164]:
df.sort(df.sal.desc()).show()

+---+------+-----+---+---+----+
|eid| ename|  sal|sex|dno|city|
+---+------+-----+---+---+----+
|105|  John|80000|  m| 13| hyd|
|104|  Sita|70000|  f| 12| hyd|
|103|  Sony|60000|  f| 11|pune|
|102| Blake|50000|  m| 12|pune|
|101|Miller|40000|  m| 11| hyd|
+---+------+-----+---+---+----+

In [165]:
#orderBy():
df.orderBy("ename").show()

+---+------+-----+---+---+----+
|eid| ename|  sal|sex|dno|city|
+---+------+-----+---+---+----+
|102| Blake|50000|  m| 12|pune|
|105|  John|80000|  m| 13| hyd|
|101|Miller|40000|  m| 11| hyd|
|104|  Sita|70000|  f| 12| hyd|
|103|  Sony|60000|  f| 11|pune|
+---+------+-----+---+---+----+

In [166]:
df.rdd.getNumPartitions()

2

In [167]:
#repartition():
df.repartition(5).rdd.getNumPartitions()

5

In [168]:
#repartition on specified column :It will shuffle the data
df2=df.repartition("dno","sex")
df2.show()

+---+------+-----+---+---+----+
|eid| ename|  sal|sex|dno|city|
+---+------+-----+---+---+----+
|102| Blake|50000|  m| 12|pune|
|103|  Sony|60000|  f| 11|pune|
|101|Miller|40000|  m| 11| hyd|
|104|  Sita|70000|  f| 12| hyd|
|105|  John|80000|  m| 13| hyd|
+---+------+-----+---+---+----+

In [169]:
df.show()

+---+------+-----+---+---+----+
|eid| ename|  sal|sex|dno|city|
+---+------+-----+---+---+----+
|101|Miller|40000|  m| 11| hyd|
|102| Blake|50000|  m| 12|pune|
|103|  Sony|60000|  f| 11|pune|
|104|  Sita|70000|  f| 12| hyd|
|105|  John|80000|  m| 13| hyd|
+---+------+-----+---+---+----+

In [170]:
#replace():
df2=df.replace(['m','f'],['male','female'],'sex')
df2.show()

+---+------+-----+------+---+----+
|eid| ename|  sal|   sex|dno|city|
+---+------+-----+------+---+----+
|101|Miller|40000|  male| 11| hyd|
|102| Blake|50000|  male| 12|pune|
|103|  Sony|60000|female| 11|pune|
|104|  Sita|70000|female| 12| hyd|
|105|  John|80000|  male| 13| hyd|
+---+------+-----+------+---+----+

In [171]:
df2=df.replace(['Miller','John'],['Ajay','James'],'ename')
df2.show()

+---+-----+-----+---+---+----+
|eid|ename|  sal|sex|dno|city|
+---+-----+-----+---+---+----+
|101| Ajay|40000|  m| 11| hyd|
|102|Blake|50000|  m| 12|pune|
|103| Sony|60000|  f| 11|pune|
|104| Sita|70000|  f| 12| hyd|
|105|James|80000|  m| 13| hyd|
+---+-----+-----+---+---+----+

In [172]:
# 21)to change schema or the column names

# eid---->ecode
# sal---->income
# sex---->Gender
df2=df.toDF('ecode','ename','income','Gender','dno','city')
df2.show()

+-----+------+------+------+---+----+
|ecode| ename|income|Gender|dno|city|
+-----+------+------+------+---+----+
|  101|Miller| 40000|     m| 11| hyd|
|  102| Blake| 50000|     m| 12|pune|
|  103|  Sony| 60000|     f| 11|pune|
|  104|  Sita| 70000|     f| 12| hyd|
|  105|  John| 80000|     m| 13| hyd|
+-----+------+------+------+---+----+

In [173]:
#withColumnRenamed(existing,new):Renaming a particular column
df.withColumnRenamed("ename","empname").show()

+---+-------+-----+---+---+----+
|eid|empname|  sal|sex|dno|city|
+---+-------+-----+---+---+----+
|101| Miller|40000|  m| 11| hyd|
|102|  Blake|50000|  m| 12|pune|
|103|   Sony|60000|  f| 11|pune|
|104|   Sita|70000|  f| 12| hyd|
|105|   John|80000|  m| 13| hyd|
+---+-------+-----+---+---+----+

In [174]:
#withColumn(): Adding a new column
df.withColumn('tax',df.sal-5000).show()

+---+------+-----+---+---+----+-----+
|eid| ename|  sal|sex|dno|city|  tax|
+---+------+-----+---+---+----+-----+
|101|Miller|40000|  m| 11| hyd|35000|
|102| Blake|50000|  m| 12|pune|45000|
|103|  Sony|60000|  f| 11|pune|55000|
|104|  Sita|70000|  f| 12| hyd|65000|
|105|  John|80000|  m| 13| hyd|75000|
+---+------+-----+---+---+----+-----+

In [175]:
#toJSON()

df.toJSON().collect()

['{"eid":101,"ename":"Miller","sal":40000,"sex":"m","dno":11,"city":"hyd"}',
 '{"eid":102,"ename":"Blake","sal":50000,"sex":"m","dno":12,"city":"pune"}',
 '{"eid":103,"ename":"Sony","sal":60000,"sex":"f","dno":11,"city":"pune"}',
 '{"eid":104,"ename":"Sita","sal":70000,"sex":"f","dno":12,"city":"hyd"}',
 '{"eid":105,"ename":"John","sal":80000,"sex":"m","dno":13,"city":"hyd"}']

In [176]:
#toLocalIterator():returns local python iterator object such as list,tuple,set,dict
l1=list(df.toLocalIterator())
print(l1)

[Row(eid=101, ename='Miller', sal=40000, sex='m', dno=11, city='hyd'), Row(eid=102, ename='Blake', sal=50000, sex='m', dno=12, city='pune'), Row(eid=103, ename='Sony', sal=60000, sex='f', dno=11, city='pune'), Row(eid=104, ename='Sita', sal=70000, sex='f', dno=12, city='hyd'), Row(eid=105, ename='John', sal=80000, sex='m', dno=13, city='hyd')]

In [177]:
# groupBy():

# #Task: select sex,count(*) from emp group by sex
res1=df.groupBy("sex").count()
res1.show()

+---+-----+
|sex|count|
+---+-----+
|  m|    3|
|  f|    2|
+---+-----+

In [178]:
# 27) Aggregated functions:
#   i)agg()
#  II)sum()
#  iii)max()
#   iv)min()
#    v)avg()
#   vi)count()

# Case 1: Single grouping and single aggregation

# o/p:
# m---->count
# f---->count
df.groupBy("sex").count().show()

+---+-----+
|sex|count|
+---+-----+
|  m|    3|
|  f|    2|
+---+-----+

In [179]:
# ii)sum aggregation:
# o/p:
# m----->totsal
# f----->totsal
df.groupBy("sex").sum("sal").show()

+---+--------+
|sex|sum(sal)|
+---+--------+
|  m|  170000|
|  f|  130000|
+---+--------+

In [180]:
#iii)avg
df.groupBy("sex").avg("sal").show()

+---+------------------+
|sex|          avg(sal)|
+---+------------------+
|  m|56666.666666666664|
|  f|           65000.0|
+---+------------------+

In [181]:
#iv)max
df.groupBy("dno").max("sal").show()

+---+--------+
|dno|max(sal)|
+---+--------+
| 12|   70000|
| 11|   60000|
| 13|   80000|
+---+--------+

In [182]:
#V)min
df.groupBy("dno").min("sal").show()

+---+--------+
|dno|min(sal)|
+---+--------+
| 12|   50000|
| 11|   40000|
| 13|   80000|
+---+--------+

In [183]:
#28)Multigroupings:

res1=df.groupBy("dno","sex").sum("sal").show()

+---+---+--------+
|dno|sex|sum(sal)|
+---+---+--------+
| 12|  m|   50000|
| 11|  f|   60000|
| 11|  m|   40000|
| 12|  f|   70000|
| 13|  m|   80000|
+---+---+--------+

In [184]:
# 29)union(): merging the rows of 2DFs

# The Merging DF should have the same schema

# #syntax:  df1.union(df2)
df.union(df).show()

+---+------+-----+---+---+----+
|eid| ename|  sal|sex|dno|city|
+---+------+-----+---+---+----+
|101|Miller|40000|  m| 11| hyd|
|102| Blake|50000|  m| 12|pune|
|103|  Sony|60000|  f| 11|pune|
|104|  Sita|70000|  f| 12| hyd|
|105|  John|80000|  m| 13| hyd|
|101|Miller|40000|  m| 11| hyd|
|102| Blake|50000|  m| 12|pune|
|103|  Sony|60000|  f| 11|pune|
|104|  Sita|70000|  f| 12| hyd|
|105|  John|80000|  m| 13| hyd|
+---+------+-----+---+---+----+

In [185]:
# df1.union(df2).union(df3).show()

In [186]:
# 30.intersect(): The common rows will be returned

# The DFs should have the same schema

df.intersect(df).show()

+---+------+-----+---+---+----+
|eid| ename|  sal|sex|dno|city|
+---+------+-----+---+---+----+
|102| Blake|50000|  m| 12|pune|
|104|  Sita|70000|  f| 12| hyd|
|105|  John|80000|  m| 13| hyd|
|103|  Sony|60000|  f| 11|pune|
|101|Miller|40000|  m| 11| hyd|
+---+------+-----+---+---+----+

In [187]:
#31.Converting DF to a RDD
rdd1=df.rdd
rdd1.collect()

[Row(eid=101, ename='Miller', sal=40000, sex='m', dno=11, city='hyd'),
 Row(eid=102, ename='Blake', sal=50000, sex='m', dno=12, city='pune'),
 Row(eid=103, ename='Sony', sal=60000, sex='f', dno=11, city='pune'),
 Row(eid=104, ename='Sita', sal=70000, sex='f', dno=12, city='hyd'),
 Row(eid=105, ename='John', sal=80000, sex='m', dno=13, city='hyd')]

32.joins:

joins: used to collect data from two or more datasets

Horizontal merging: merging cols horizontally
ex:joins

There are 2 types of JOINS
1)Inner join
2)Outer Join---------->3types--->i)Left outer Join
                                ii)Rigt outer Join
                               iii)Full outer Join


ex:1
A=1 B=1
  2   2
  3   3
  4   7
  5   8
  6   9

1)Inner Join :Only Matching fields

o/p:
(1,1)
(2,2)
(3,3)

2)Left Outer Join: Matchings+unmatched fields of leftside i.e Total presence
                              of left side

(1,1)
(2,2)
(3,3)
(4, )
(5, )
(6, )
3)Right Outer Join: Matchings+unmatched fields of rightside i.e Total presence
                              of right side

(1,1)
(2,2)
(3,3)
( ,7)
( ,8)
( ,9)

4)Full Outer Join: Matchings+unmatched fields of leftside i.e Total presence
                              of left side
                            +unmatched fields of rightside i.e Total presence
                              of right side



                                                                    
                               

(1,1)
(2,2)
(3,3)
(4, )
(5, )
(6, )
( ,7)
( ,8)
( ,9)

# Working with SQL querries

working with sql queries:
-------------------------
for working with sql queries,Register DataFrame as table and apply all valid sql queries on it


To Register DF as table-->we have 2 ways

1.df.registerTempTable("tablename")

2.sqlContext.registerDataFrameAsTable(df,"tablename")

  sqlContext.sql(".......sql query......").show()

ex:

In [188]:
r1=sc.textFile("/Users/rishabhshukla/Desktop/Pyspark_codes/PySpark/Book1.txt")
r1.collect()

['101,Miller,40000,m,11,hyd',
 '102,Blake,50000,m,12,pune',
 '103,Sony,60000,f,11,pune',
 '104,Sita,70000,f,12,hyd',
 '105,John,80000,m,13,hyd']

In [189]:
r2=r1.map(lambda x:x.split(","))
r2.collect()

[['101', 'Miller', '40000', 'm', '11', 'hyd'],
 ['102', 'Blake', '50000', 'm', '12', 'pune'],
 ['103', 'Sony', '60000', 'f', '11', 'pune'],
 ['104', 'Sita', '70000', 'f', '12', 'hyd'],
 ['105', 'John', '80000', 'm', '13', 'hyd']]

In [190]:
from pyspark.sql import Row
r3=r2.map(lambda x:Row(eid=int(x[0]),ename=x[1],sal=int(x[2]),sex=x[3],dno=int(x[4])))
r3.collect()

[Row(eid=101, ename='Miller', sal=40000, sex='m', dno=11),
 Row(eid=102, ename='Blake', sal=50000, sex='m', dno=12),
 Row(eid=103, ename='Sony', sal=60000, sex='f', dno=11),
 Row(eid=104, ename='Sita', sal=70000, sex='f', dno=12),
 Row(eid=105, ename='John', sal=80000, sex='m', dno=13)]

In [191]:
emps_df=sqlContext.createDataFrame(r3)
emps_df.show()

+---+------+-----+---+---+
|eid| ename|  sal|sex|dno|
+---+------+-----+---+---+
|101|Miller|40000|  m| 11|
|102| Blake|50000|  m| 12|
|103|  Sony|60000|  f| 11|
|104|  Sita|70000|  f| 12|
|105|  John|80000|  m| 13|
+---+------+-----+---+---+

In [192]:
 #I-way:
emps_df.registerTempTable("emps1")
e1=sqlContext.sql("select * from emps1")
e1.show()

/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

+---+------+-----+---+---+
|eid| ename|  sal|sex|dno|
+---+------+-----+---+---+
|101|Miller|40000|  m| 11|
|102| Blake|50000|  m| 12|
|103|  Sony|60000|  f| 11|
|104|  Sita|70000|  f| 12|
|105|  John|80000|  m| 13|
+---+------+-----+---+---+

In [193]:
#II-way:
sqlContext.registerDataFrameAsTable(emps_df,"emps2")
e2=sqlContext.sql("select * from emps2")
e2.show()

+---+------+-----+---+---+
|eid| ename|  sal|sex|dno|
+---+------+-----+---+---+
|101|Miller|40000|  m| 11|
|102| Blake|50000|  m| 12|
|103|  Sony|60000|  f| 11|
|104|  Sita|70000|  f| 12|
|105|  John|80000|  m| 13|
+---+------+-----+---+---+

Here emps2 is the tablename ,on this table,we can perform any valid sql queries'

HDFSfile---->RDD----->DF---->table---->sqlquery

In [194]:
#adding extra column

tax_add_df=sqlContext.sql("select *,sal*0.10 as tax from emps2").show()

+---+------+-----+---+---+-------+
|eid| ename|  sal|sex|dno|    tax|
+---+------+-----+---+---+-------+
|101|Miller|40000|  m| 11|4000.00|
|102| Blake|50000|  m| 12|5000.00|
|103|  Sony|60000|  f| 11|6000.00|
|104|  Sita|70000|  f| 12|7000.00|
|105|  John|80000|  m| 13|8000.00|
+---+------+-----+---+---+-------+

In [195]:
#case 1: Single grouping and single Aggregation

singlegrp_aggr=sqlContext.sql("select sex,sum(sal) from emps2 group by sex").show()

+---+--------+
|sex|sum(sal)|
+---+--------+
|  m|  170000|
|  f|  130000|
+---+--------+

In [196]:
#case 2: Multigrouping and single Aggregation

#dnowise,sexwise----->sum(sal)

multigrp=sqlContext.sql("select dno,sex,sum(sal) from emps2 group by dno,sex").show()

+---+---+--------+
|dno|sex|sum(sal)|
+---+---+--------+
| 12|  m|   50000|
| 11|  f|   60000|
| 11|  m|   40000|
| 12|  f|   70000|
| 13|  m|   80000|
+---+---+--------+

In [197]:
#Case 3: Single grouping and multiple aggregation

multiaggr=sqlContext.sql("select sex,sum(sal),avg(sal),max(sal),min(sal),count(*) from emps2 group by sex").show()

+---+--------+------------------+--------+--------+--------+
|sex|sum(sal)|          avg(sal)|max(sal)|min(sal)|count(1)|
+---+--------+------------------+--------+--------+--------+
|  m|  170000|56666.666666666664|   80000|   40000|       3|
|  f|  130000|           65000.0|   70000|   60000|       2|
+---+--------+------------------+--------+--------+--------+

In [198]:
#Case 4: Multigrouping and multiple aggregation:

multigrp_aggr=sqlContext.sql("select dno,sex,sum(sal),avg(sal),max(sal),min(sal),count(*) from emps2 group by dno,sex").show()

+---+---+--------+--------+--------+--------+--------+
|dno|sex|sum(sal)|avg(sal)|max(sal)|min(sal)|count(1)|
+---+---+--------+--------+--------+--------+--------+
| 12|  m|   50000| 50000.0|   50000|   50000|       1|
| 11|  f|   60000| 60000.0|   60000|   60000|       1|
| 11|  m|   40000| 40000.0|   40000|   40000|       1|
| 12|  f|   70000| 70000.0|   70000|   70000|       1|
| 13|  m|   80000| 80000.0|   80000|   80000|       1|
+---+---+--------+--------+--------+--------+--------+

joins:

Task: Citywise------>I want the total sal budget

hadoop@ubuntu:~$ cat > emps1
101,aaa,1000,m,11
102,bbb,2000,f,12
103,ccc,3000,m,12
104,ddd,4000,f,13
105,eee,5000,m,11
106,fff,6000,f,14
107,ggg,7000,m,15
108,hhh,8000,f,16hadoop@ubuntu:~$ 

hadoop@ubuntu:~$ cat >dept1
11,mrkt,hyd
12,HR,delhi
13,fin,pune
17,HR,hyd
18,fin,pune
19,mrkt,delhihadoop@ubuntu:~$ hdfs dfs -put emps1 /pysparklab
put: Cannot create file/pysparklab/emps1._COPYING_. Name node is in safe mode.
hadoop@ubuntu:~$ hdfs dfsadmin -safemode leave
Safe mode is OFF
hadoop@ubuntu:~$ hdfs dfs -put emps1 /pysparklab
hadoop@ubuntu:~$ hdfs dfs -put dept1 /pysparklab

Task: Citywise------>I want the total sal budget

step 1: Loading both emp and dept from HDFS

In [199]:
r1 =sc.textFile("/Users/rishabhshukla/Desktop/Pyspark_codes/PySpark/Book1.txt")
r1.collect()

['101,Miller,40000,m,11,hyd',
 '102,Blake,50000,m,12,pune',
 '103,Sony,60000,f,11,pune',
 '104,Sita,70000,f,12,hyd',
 '105,John,80000,m,13,hyd']

In [200]:
r2=r1.map(lambda x:x.split(","))
r2.collect()

[['101', 'Miller', '40000', 'm', '11', 'hyd'],
 ['102', 'Blake', '50000', 'm', '12', 'pune'],
 ['103', 'Sony', '60000', 'f', '11', 'pune'],
 ['104', 'Sita', '70000', 'f', '12', 'hyd'],
 ['105', 'John', '80000', 'm', '13', 'hyd']]

In [201]:
from pyspark.sql import Row
r3=r2.map(lambda x:Row(eid=int(x[0]),ename=x[1],sal=int(x[2]),sex=x[3],dno=int(x[4])))
r3.collect()

[Row(eid=101, ename='Miller', sal=40000, sex='m', dno=11),
 Row(eid=102, ename='Blake', sal=50000, sex='m', dno=12),
 Row(eid=103, ename='Sony', sal=60000, sex='f', dno=11),
 Row(eid=104, ename='Sita', sal=70000, sex='f', dno=12),
 Row(eid=105, ename='John', sal=80000, sex='m', dno=13)]

In [202]:
emps1=sqlContext.createDataFrame(r3)
emps1.show()

+---+------+-----+---+---+
|eid| ename|  sal|sex|dno|
+---+------+-----+---+---+
|101|Miller|40000|  m| 11|
|102| Blake|50000|  m| 12|
|103|  Sony|60000|  f| 11|
|104|  Sita|70000|  f| 12|
|105|  John|80000|  m| 13|
+---+------+-----+---+---+

In [203]:
#Now loading dept into HDFS
rr1=sc.textFile("/Users/rishabhshukla/Desktop/Pyspark_codes/PySpark/Book12.txt")
rr1.collect()

['city,dname,dno',
 'hyd,mrkt,11',
 'delhi,HR,12',
 'pune,fin,13',
 'hyd,HR,17',
 'delhi,fin,18',
 'pune,mrkt,19']

In [204]:
rr2=rr1.map(lambda x:x.split(","))
rr2.collect()

[['city', 'dname', 'dno'],
 ['hyd', 'mrkt', '11'],
 ['delhi', 'HR', '12'],
 ['pune', 'fin', '13'],
 ['hyd', 'HR', '17'],
 ['delhi', 'fin', '18'],
 ['pune', 'mrkt', '19']]

In [205]:
from pyspark.sql import Row
rr3=rr2.map(lambda x:Row(city=x[0],dname=x[1],dno=int(x[2])))

In [206]:
# conda install -c cyclus java-jdk

In [207]:
# conda --version

In [208]:
#  conda update conda

In [209]:
# conda list

In [210]:
# conda install nb_conda_kernels

In [211]:
import findspark
print(findspark.init())

None

In [212]:
rr3.collect()

22/10/03 23:20:08 ERROR Executor: Exception in task 0.0 in stage 292.0 (TID 681)
org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 686, in main
    process()
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 678, in process
    serializer.dump_stream(out_iter, outfile)
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/serializers.py", line 273, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/util.py", line 81, in wrapper
    return f(*args, **kwargs)
  File "/var/folders/0y/g5w79j0j11b9ftwrx642wkm00000gn/T/ipykernel_1741/2010100705.py", line 2, in <lambda>
ValueError: invalid literal for int() with base 10: 'dno'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:559)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:765)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:747)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:512)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at org.apache.spark.InterruptibleIterator.foreach(InterruptibleIterator.scala:28)
	at scala.collection.generic.Growable.$plus$plus$eq(Growable.scala:62)
	at scala.collection.generic.Growable.$plus$plus$eq$(Growable.scala:53)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:105)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:49)
	at scala.collection.TraversableOnce.to(TraversableOnce.scala:366)
	at scala.collection.TraversableOnce.to$(TraversableOnce.scala:364)
	at org.apache.spark.InterruptibleIterator.to(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toBuffer(TraversableOnce.scala:358)
	at scala.collection.TraversableOnce.toBuffer$(TraversableOnce.scala:358)
	at org.apache.spark.InterruptibleIterator.toBuffer(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toArray(TraversableOnce.scala:345)
	at scala.collection.TraversableOnce.toArray$(TraversableOnce.scala:339)
	at org.apache.spark.InterruptibleIterator.toArray(InterruptibleIterator.scala:28)
	at org.apache.spark.rdd.RDD.$anonfun$collect$2(RDD.scala:1021)
	at org.apache.spark.rdd.RDD$$Lambda$1255/1731462402.apply(Unknown Source)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2268)
	at org.apache.spark.SparkContext$$Lambda$1257/59185492.apply(Unknown Source)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.executor.Executor$TaskRunner$$Lambda$1174/1568411563.apply(Unknown Source)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	at java.lang.Thread.run(Thread.java:745)
22/10/03 23:20:08 WARN TaskSetManager: Lost task 0.0 in stage 292.0 (TID 681) (192.168.15.65 executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 686, in main
    process()
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 678, in process
    serializer.dump_stream(out_iter, outfile)
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/serializers.py", line 273, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/util.py", line 81, in wrapper
    return f(*args, **kwargs)
  File "/var/folders/0y/g5w79j0j11b9ftwrx642wkm00000gn/T/ipykernel_1741/2010100705.py", line 2, in <lambda>
ValueError: invalid literal for int() with base 10: 'dno'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:559)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:765)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:747)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:512)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at org.apache.spark.InterruptibleIterator.foreach(InterruptibleIterator.scala:28)
	at scala.collection.generic.Growable.$plus$plus$eq(Growable.scala:62)
	at scala.collection.generic.Growable.$plus$plus$eq$(Growable.scala:53)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:105)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:49)
	at scala.collection.TraversableOnce.to(TraversableOnce.scala:366)
	at scala.collection.TraversableOnce.to$(TraversableOnce.scala:364)
	at org.apache.spark.InterruptibleIterator.to(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toBuffer(TraversableOnce.scala:358)
	at scala.collection.TraversableOnce.toBuffer$(TraversableOnce.scala:358)
	at org.apache.spark.InterruptibleIterator.toBuffer(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toArray(TraversableOnce.scala:345)
	at scala.collection.TraversableOnce.toArray$(TraversableOnce.scala:339)
	at org.apache.spark.InterruptibleIterator.toArray(InterruptibleIterator.scala:28)
	at org.apache.spark.rdd.RDD.$anonfun$collect$2(RDD.scala:1021)
	at org.apache.spark.rdd.RDD$$Lambda$1255/1731462402.apply(Unknown Source)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2268)
	at org.apache.spark.SparkContext$$Lambda$1257/59185492.apply(Unknown Source)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.executor.Executor$TaskRunner$$Lambda$1174/1568411563.apply(Unknown Source)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	at java.lang.Thread.run(Thread.java:745)

22/10/03 23:20:08 ERROR TaskSetManager: Task 0 in stage 292.0 failed 1 times; aborting job

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.collectAndServe.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 292.0 failed 1 times, most recent failure: Lost task 0.0 in stage 292.0 (TID 681) (192.168.15.65 executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 686, in main
    process()
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 678, in process
    serializer.dump_stream(out_iter, outfile)
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/serializers.py", line 273, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/util.py", line 81, in wrapper
    return f(*args, **kwargs)
  File "/var/folders/0y/g5w79j0j11b9ftwrx642wkm00000gn/T/ipykernel_1741/2010100705.py", line 2, in <lambda>
ValueError: invalid literal for int() with base 10: 'dno'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:559)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:765)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:747)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:512)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at org.apache.spark.InterruptibleIterator.foreach(InterruptibleIterator.scala:28)
	at scala.collection.generic.Growable.$plus$plus$eq(Growable.scala:62)
	at scala.collection.generic.Growable.$plus$plus$eq$(Growable.scala:53)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:105)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:49)
	at scala.collection.TraversableOnce.to(TraversableOnce.scala:366)
	at scala.collection.TraversableOnce.to$(TraversableOnce.scala:364)
	at org.apache.spark.InterruptibleIterator.to(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toBuffer(TraversableOnce.scala:358)
	at scala.collection.TraversableOnce.toBuffer$(TraversableOnce.scala:358)
	at org.apache.spark.InterruptibleIterator.toBuffer(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toArray(TraversableOnce.scala:345)
	at scala.collection.TraversableOnce.toArray$(TraversableOnce.scala:339)
	at org.apache.spark.InterruptibleIterator.toArray(InterruptibleIterator.scala:28)
	at org.apache.spark.rdd.RDD.$anonfun$collect$2(RDD.scala:1021)
	at org.apache.spark.rdd.RDD$$Lambda$1255/1731462402.apply(Unknown Source)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2268)
	at org.apache.spark.SparkContext$$Lambda$1257/59185492.apply(Unknown Source)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.executor.Executor$TaskRunner$$Lambda$1174/1568411563.apply(Unknown Source)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	at java.lang.Thread.run(Thread.java:745)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2672)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2608)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2607)
	at org.apache.spark.scheduler.DAGScheduler$$Lambda$4290/1846325275.apply(Unknown Source)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2607)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGScheduler$$Lambda$4288/298701419.apply(Unknown Source)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2860)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2791)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:952)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2228)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2249)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2268)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2293)
	at org.apache.spark.rdd.RDD.$anonfun$collect$1(RDD.scala:1021)
	at org.apache.spark.rdd.RDD$$Lambda$866/1911106641.apply(Unknown Source)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:406)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:1020)
	at org.apache.spark.api.python.PythonRDD$.collectAndServe(PythonRDD.scala:180)
	at org.apache.spark.api.python.PythonRDD.collectAndServe(PythonRDD.scala)
	at sun.reflect.GeneratedMethodAccessor60.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:483)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:745)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 686, in main
    process()
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 678, in process
    serializer.dump_stream(out_iter, outfile)
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/serializers.py", line 273, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/util.py", line 81, in wrapper
    return f(*args, **kwargs)
  File "/var/folders/0y/g5w79j0j11b9ftwrx642wkm00000gn/T/ipykernel_1741/2010100705.py", line 2, in <lambda>
ValueError: invalid literal for int() with base 10: 'dno'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:559)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:765)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:747)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:512)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at org.apache.spark.InterruptibleIterator.foreach(InterruptibleIterator.scala:28)
	at scala.collection.generic.Growable.$plus$plus$eq(Growable.scala:62)
	at scala.collection.generic.Growable.$plus$plus$eq$(Growable.scala:53)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:105)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:49)
	at scala.collection.TraversableOnce.to(TraversableOnce.scala:366)
	at scala.collection.TraversableOnce.to$(TraversableOnce.scala:364)
	at org.apache.spark.InterruptibleIterator.to(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toBuffer(TraversableOnce.scala:358)
	at scala.collection.TraversableOnce.toBuffer$(TraversableOnce.scala:358)
	at org.apache.spark.InterruptibleIterator.toBuffer(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toArray(TraversableOnce.scala:345)
	at scala.collection.TraversableOnce.toArray$(TraversableOnce.scala:339)
	at org.apache.spark.InterruptibleIterator.toArray(InterruptibleIterator.scala:28)
	at org.apache.spark.rdd.RDD.$anonfun$collect$2(RDD.scala:1021)
	at org.apache.spark.rdd.RDD$$Lambda$1255/1731462402.apply(Unknown Source)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2268)
	at org.apache.spark.SparkContext$$Lambda$1257/59185492.apply(Unknown Source)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.executor.Executor$TaskRunner$$Lambda$1174/1568411563.apply(Unknown Source)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	... 1 more

In [213]:
dept1=sqlContext.createDataFrame(rr3)
dept1.show()

22/10/03 23:20:09 ERROR Executor: Exception in task 0.0 in stage 293.0 (TID 683)
org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 686, in main
    process()
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 678, in process
    serializer.dump_stream(out_iter, outfile)
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/serializers.py", line 273, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/rdd.py", line 1877, in takeUpToNumLeft
    yield next(iterator)
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/util.py", line 81, in wrapper
    return f(*args, **kwargs)
  File "/var/folders/0y/g5w79j0j11b9ftwrx642wkm00000gn/T/ipykernel_1741/2010100705.py", line 2, in <lambda>
ValueError: invalid literal for int() with base 10: 'dno'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:559)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:765)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:747)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:512)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at org.apache.spark.InterruptibleIterator.foreach(InterruptibleIterator.scala:28)
	at scala.collection.generic.Growable.$plus$plus$eq(Growable.scala:62)
	at scala.collection.generic.Growable.$plus$plus$eq$(Growable.scala:53)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:105)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:49)
	at scala.collection.TraversableOnce.to(TraversableOnce.scala:366)
	at scala.collection.TraversableOnce.to$(TraversableOnce.scala:364)
	at org.apache.spark.InterruptibleIterator.to(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toBuffer(TraversableOnce.scala:358)
	at scala.collection.TraversableOnce.toBuffer$(TraversableOnce.scala:358)
	at org.apache.spark.InterruptibleIterator.toBuffer(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toArray(TraversableOnce.scala:345)
	at scala.collection.TraversableOnce.toArray$(TraversableOnce.scala:339)
	at org.apache.spark.InterruptibleIterator.toArray(InterruptibleIterator.scala:28)
	at org.apache.spark.api.python.PythonRDD$.$anonfun$runJob$1(PythonRDD.scala:166)
	at org.apache.spark.api.python.PythonRDD$$$Lambda$1487/581454672.apply(Unknown Source)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2268)
	at org.apache.spark.SparkContext$$Lambda$1257/59185492.apply(Unknown Source)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.executor.Executor$TaskRunner$$Lambda$1174/1568411563.apply(Unknown Source)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	at java.lang.Thread.run(Thread.java:745)
22/10/03 23:20:09 WARN TaskSetManager: Lost task 0.0 in stage 293.0 (TID 683) (192.168.15.65 executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 686, in main
    process()
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 678, in process
    serializer.dump_stream(out_iter, outfile)
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/serializers.py", line 273, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/rdd.py", line 1877, in takeUpToNumLeft
    yield next(iterator)
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/util.py", line 81, in wrapper
    return f(*args, **kwargs)
  File "/var/folders/0y/g5w79j0j11b9ftwrx642wkm00000gn/T/ipykernel_1741/2010100705.py", line 2, in <lambda>
ValueError: invalid literal for int() with base 10: 'dno'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:559)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:765)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:747)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:512)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at org.apache.spark.InterruptibleIterator.foreach(InterruptibleIterator.scala:28)
	at scala.collection.generic.Growable.$plus$plus$eq(Growable.scala:62)
	at scala.collection.generic.Growable.$plus$plus$eq$(Growable.scala:53)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:105)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:49)
	at scala.collection.TraversableOnce.to(TraversableOnce.scala:366)
	at scala.collection.TraversableOnce.to$(TraversableOnce.scala:364)
	at org.apache.spark.InterruptibleIterator.to(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toBuffer(TraversableOnce.scala:358)
	at scala.collection.TraversableOnce.toBuffer$(TraversableOnce.scala:358)
	at org.apache.spark.InterruptibleIterator.toBuffer(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toArray(TraversableOnce.scala:345)
	at scala.collection.TraversableOnce.toArray$(TraversableOnce.scala:339)
	at org.apache.spark.InterruptibleIterator.toArray(InterruptibleIterator.scala:28)
	at org.apache.spark.api.python.PythonRDD$.$anonfun$runJob$1(PythonRDD.scala:166)
	at org.apache.spark.api.python.PythonRDD$$$Lambda$1487/581454672.apply(Unknown Source)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2268)
	at org.apache.spark.SparkContext$$Lambda$1257/59185492.apply(Unknown Source)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.executor.Executor$TaskRunner$$Lambda$1174/1568411563.apply(Unknown Source)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	at java.lang.Thread.run(Thread.java:745)

22/10/03 23:20:09 ERROR TaskSetManager: Task 0 in stage 293.0 failed 1 times; aborting job

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.runJob.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 293.0 failed 1 times, most recent failure: Lost task 0.0 in stage 293.0 (TID 683) (192.168.15.65 executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 686, in main
    process()
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 678, in process
    serializer.dump_stream(out_iter, outfile)
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/serializers.py", line 273, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/rdd.py", line 1877, in takeUpToNumLeft
    yield next(iterator)
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/util.py", line 81, in wrapper
    return f(*args, **kwargs)
  File "/var/folders/0y/g5w79j0j11b9ftwrx642wkm00000gn/T/ipykernel_1741/2010100705.py", line 2, in <lambda>
ValueError: invalid literal for int() with base 10: 'dno'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:559)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:765)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:747)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:512)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at org.apache.spark.InterruptibleIterator.foreach(InterruptibleIterator.scala:28)
	at scala.collection.generic.Growable.$plus$plus$eq(Growable.scala:62)
	at scala.collection.generic.Growable.$plus$plus$eq$(Growable.scala:53)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:105)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:49)
	at scala.collection.TraversableOnce.to(TraversableOnce.scala:366)
	at scala.collection.TraversableOnce.to$(TraversableOnce.scala:364)
	at org.apache.spark.InterruptibleIterator.to(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toBuffer(TraversableOnce.scala:358)
	at scala.collection.TraversableOnce.toBuffer$(TraversableOnce.scala:358)
	at org.apache.spark.InterruptibleIterator.toBuffer(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toArray(TraversableOnce.scala:345)
	at scala.collection.TraversableOnce.toArray$(TraversableOnce.scala:339)
	at org.apache.spark.InterruptibleIterator.toArray(InterruptibleIterator.scala:28)
	at org.apache.spark.api.python.PythonRDD$.$anonfun$runJob$1(PythonRDD.scala:166)
	at org.apache.spark.api.python.PythonRDD$$$Lambda$1487/581454672.apply(Unknown Source)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2268)
	at org.apache.spark.SparkContext$$Lambda$1257/59185492.apply(Unknown Source)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.executor.Executor$TaskRunner$$Lambda$1174/1568411563.apply(Unknown Source)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	at java.lang.Thread.run(Thread.java:745)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2672)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2608)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2607)
	at org.apache.spark.scheduler.DAGScheduler$$Lambda$4290/1846325275.apply(Unknown Source)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2607)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGScheduler$$Lambda$4288/298701419.apply(Unknown Source)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2860)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2791)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:952)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2228)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2249)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2268)
	at org.apache.spark.api.python.PythonRDD$.runJob(PythonRDD.scala:166)
	at org.apache.spark.api.python.PythonRDD.runJob(PythonRDD.scala)
	at sun.reflect.GeneratedMethodAccessor80.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:483)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:745)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 686, in main
    process()
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 678, in process
    serializer.dump_stream(out_iter, outfile)
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/serializers.py", line 273, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/rdd.py", line 1877, in takeUpToNumLeft
    yield next(iterator)
  File "/Users/rishabhshukla/opt/anaconda3/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/util.py", line 81, in wrapper
    return f(*args, **kwargs)
  File "/var/folders/0y/g5w79j0j11b9ftwrx642wkm00000gn/T/ipykernel_1741/2010100705.py", line 2, in <lambda>
ValueError: invalid literal for int() with base 10: 'dno'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:559)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:765)
	at org.apache.spark.api.python.PythonRunner$$anon$3.read(PythonRunner.scala:747)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:512)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at org.apache.spark.InterruptibleIterator.foreach(InterruptibleIterator.scala:28)
	at scala.collection.generic.Growable.$plus$plus$eq(Growable.scala:62)
	at scala.collection.generic.Growable.$plus$plus$eq$(Growable.scala:53)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:105)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:49)
	at scala.collection.TraversableOnce.to(TraversableOnce.scala:366)
	at scala.collection.TraversableOnce.to$(TraversableOnce.scala:364)
	at org.apache.spark.InterruptibleIterator.to(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toBuffer(TraversableOnce.scala:358)
	at scala.collection.TraversableOnce.toBuffer$(TraversableOnce.scala:358)
	at org.apache.spark.InterruptibleIterator.toBuffer(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce.toArray(TraversableOnce.scala:345)
	at scala.collection.TraversableOnce.toArray$(TraversableOnce.scala:339)
	at org.apache.spark.InterruptibleIterator.toArray(InterruptibleIterator.scala:28)
	at org.apache.spark.api.python.PythonRDD$.$anonfun$runJob$1(PythonRDD.scala:166)
	at org.apache.spark.api.python.PythonRDD$$$Lambda$1487/581454672.apply(Unknown Source)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2268)
	at org.apache.spark.SparkContext$$Lambda$1257/59185492.apply(Unknown Source)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.executor.Executor$TaskRunner$$Lambda$1174/1568411563.apply(Unknown Source)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	... 1 more